*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: #efefef;
    color: #28293D;
    overflow-x: hidden;
}
body{
    position: relative;
}
.bg-red-200{
    background-color: #fecaca;
}
.bg-amber-200{
    background-color: #fde68a;
}
.bg-lime-200{
    background-color: #d9f99d
}
.bg-sky-200{
    background-color: #bae6fd;
}
.bg-violet-200{
    background-color: #ddd6fe;
}
.bg-rose-200{
    background-color: #fecdd3;
}
.container{
    width: 1280px;
    margin: auto;
}
.wrapper{
    width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
@media screen and (min-width:500px) {
    .container{
        width: 500px;
    }
}
@media screen and (min-width:768px) {
    .container{
        width: 768px;
    }
}
